*{
    font-family: "Gill Sans", sans-serif;
}
/* logo e titolo */

#logo-title{
    height: 80px;
    background-color: white;
}
h1{
    display: inline;
    vertical-align: middle;
    padding: 10px 0;
    font-size: 50px;
}

#logo{
    vertical-align: middle;
    padding: 10px 0;
    margin-left: 10px;
}

/* body / contenuto principale */

body{
    background-color:hsl(0, 0%, 90%);
    margin: 0 auto ;
}

.container{
    padding-bottom: 5px ;
    padding-left: 10px;
    margin: 5% 30%;
    background-color: white; 
    border-radius: 5px;
}

#task{
    margin: 10px;
    display: inline-block;
    text-align: left;
    padding:5px;
    background-color:rgb(69,171,234);
    color: white;
    border-radius: 5px;

}

#add-section{
    margin: 10px;
    display: inline-block;
    text-align: left;
    padding:5px;
    background-color:white;
    color:grey;
    border:solid grey 1px;
    border-radius: 5px;
}

ul{
    padding-inline-start: 0;
    list-style-type: none;   
}

li{
    padding:5px ;
}
span{
    font-size: 12px;
    color: white;
    padding:3px;
}

.editorial{
    background-color: rgb(69,171,234);
    border-radius: 7px;

}

.recruiting{
    background-color: rgb(100,192,169);
    border-radius: 7px;
}

.goals{
    background-color: rgb(177,144,234);
    border-radius: 7px;

}

.sales{
    background-color: rgb(176,201,38);
    border-radius: 7px;
}

.website{
    background-color: rgb(216,99,161);
    border-radius: 7px;
}

.mobile{
    background-color: rgb(242,158,51);
    border-radius: 7px;
}

.editorial-different{
    background-color: rgb(242,158,51);
    border-radius: 7px;
}